$blue: #a3d5d3;

body {
  background-color: $blue;
}
form input{
  color: blue;
}
div input{
  color:green
}
@keyframes animar{
  from {
    background-color: #a3d5d3;
    width: 50px
  }
  to{
    background-color: #5AAFEE;
    width: 150px
  }
}
input[type="submit"]{
 // animation-name: animar;
 // animation-duration: 10s;
 // animation-iteration-count:infinite;
}
